

extends layout

block content

    
    div(class="centered")
        h2= "Welcomes " + `${name}` + "!"
        h3= "Role: " + `${role}`
        - var roles = `${role}`
            h4= "Please enter the username of the account:"
     
        
    
    div(class="centered")  
        form(action='/delete' method='POST')
            label(for='username') Username:
            input#username(type='text' name='username')
           
            input(type="submit" value="Submit")

        
        button(type="button" class="logout") 
            a(href="/" class="buttonLink") Logout
