extends layout

block content

    - var _admin = ["Manage User Accounts", "Assign Roles", "Help Desk"];
    - var _finance = ["Finance Reports", "Accounts Payable", "Accounts Receiveable", "Tax"];
    - var _sales = ["Sales Reports", "Sales Leads", "Sales Demo"];
    - var _hr = ["New Hire On-boarding", "Benefits", "Payroll", "Off-boarding", "HR Reports"];
    - var _tech = ["Application Monitoring", "Tech Support", "App Development", "App Admin", "Release Management"];
    
    div(class="centered")
        h2= "Welcome " + `${name}` + "!"
        h3= "Role: " + `${role}`
        - var roles = `${role}`
    
        
    div(class="centered")
        p
                a(href='/Registration') Register        
        p
                a(href='/delete') Delete
        
   

        
        button(type="button" class="logout") 
            a(href="/" class="buttonLink") Logout
